body{
    background-color: burlywood;
    color: black;
    font-family: "Quicksand", sans-serif;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0%;
}

button{
    background-color:bisque;
    color:black;
    font-family: "Quicksand", sans-serif;
   
}